In [1]:
# Import dependencies
import pandas as pd

# Read vine_table.csv into dataframe
file_path = "Resources/vine_table.csv"
vine_df = pd.read_csv(file_path)

vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1YWMHH4TR4TJP,5.0,0.0,1.0,N,Y
1,R3NLRWZRYTJ76Q,5.0,0.0,0.0,N,Y
2,R1WVICRKUFD66U,4.0,0.0,0.0,N,Y
3,R1L7KM6W7NTGDT,5.0,0.0,1.0,N,Y
4,RSGJ34O9HI63F,5.0,0.0,0.0,N,Y

In [2]:
# Filter dataframe where total_votes >= 20
vine_filtered_df = vine_df[vine_df['total_votes'] >= 20]
vine_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
315,R3J363J1Q98C52,1.0,2.0,22.0,N,Y
629,R31EUR60FV3BU5,4.0,32.0,39.0,N,N
1041,R12Q1NO1HI9PP4,1.0,4.0,86.0,N,N
1071,R3MDX24QDAT0OW,4.0,35.0,37.0,N,N
1173,R2YVFZB4ESDT7D,5.0,139.0,141.0,N,Y

In [3]:
# Filter dataframe where helpful_votes / total_votes >= 0.5
filter_1 = ((vine_df['helpful_votes'] / vine_df['total_votes']) >= 0.5)
vine_fifty_df = vine_df[filter_1]
vine_fifty_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
15,R4XXAH4PGPFKY,5.0,2.0,2.0,N,Y
16,R33R71PHJWMIJJ,3.0,1.0,2.0,N,Y
22,R16XZ6AQYBM6YN,5.0,1.0,1.0,N,Y
27,R2DOOLRAVGW5ZI,5.0,1.0,2.0,N,Y
30,R3N79LRD957SNT,5.0,2.0,2.0,N,Y

In [4]:
# Filter vine_fifty_df where verified purchase is Y
filter_y = vine_fifty_df['verified_purchase'] == 'Y'
vine_y_df = vine_fifty_df[filter_y]
vine_y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
15,R4XXAH4PGPFKY,5.0,2.0,2.0,N,Y
16,R33R71PHJWMIJJ,3.0,1.0,2.0,N,Y
22,R16XZ6AQYBM6YN,5.0,1.0,1.0,N,Y
27,R2DOOLRAVGW5ZI,5.0,1.0,2.0,N,Y
30,R3N79LRD957SNT,5.0,2.0,2.0,N,Y

In [7]:
# Filter vine_fifty_df where verified purchase is N
filter_n = vine_fifty_df['verified_purchase'] == 'N'
vine_n_df = vine_fifty_df[filter_n]
vine_n_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
40,R24XUAFVBM3YGM,5.0,1.0,1.0,N,N
41,RXGZFE2JDQOI4,5.0,3.0,4.0,N,N
44,R4IBRZLY6BQ2O,5.0,1.0,1.0,N,N
53,R33GEYJZX906ZB,5.0,3.0,3.0,N,N
55,RTFQY95NSZW64,5.0,1.0,1.0,N,N

In [8]:
#Determine the total number of reviews, the number of 5-star reviews, 
#and the percentage of 5-star reviews for the two types of review (paid vs unpaid)

# Paid Reviews Analysis
total_reviews = vine_fifty_df['total_votes'].count()
total_paid_reviews = vine_y_df['total_votes'].count()
five_stars_paid = len(vine_y_df[vine_y_df['star_rating']==5.0])
percentage_fifty_paid = round(float(five_stars_paid / total_reviews) * 100, 2)
print(f'Paid Reviews Analysis \n============================\nTotal Number of Paid Reviews: {total_paid_reviews}')
print(f'Total number of 5-Star Reviews: {five_stars_paid}')
print(f'Percentage of 5-Star Reviews: {percentage_fifty_paid}%')

Paid Reviews Analysis
============================
Total Number of Paid Reviews: 1075849
Total number of 5-Star Reviews: 721246
Percentage of 5-Star Reviews: 34.33%

In [9]:
# Unpaid Reviews Analysis
total_unpaid_reviews = vine_n_df['total_votes'].count()
five_stars_unpaid = len(vine_n_df[vine_n_df['star_rating']==5.0])
percentage_fifty_unpaid = round(float(five_stars_unpaid / total_reviews) * 100, 2)
print(f'Unpaid Reviews Analysis \n============================\nTotal Number of Unpaid Reviews: {total_unpaid_reviews}')
print(f'Total number of 5-Star Reviews: {five_stars_unpaid}')
print(f'Percentage of 5-Star Reviews: {percentage_fifty_unpaid}%')

Unpaid Reviews Analysis
============================
Total Number of Unpaid Reviews: 1025083
Total number of 5-Star Reviews: 557876
Percentage of 5-Star Reviews: 26.55%